*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

cs9322.coffee.rest/WebContent/META-INF/context.xml

cs9322.coffee.rest/.classpath

cs9322.coffee.rest/WebContent/WEB-INF/coffee.db

cs9322.coffee.customer/.classpath
